[Unit]
Description=My Backend
After=network.target

[Service]
User=me
WorkingDirectory=/home/me/posting-alert/backend
ExecStart=/home/me/.nvm/versions/node/v24.15.0/bin/node src/index.ts
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
